
.header{
    background-image: url('images/Banner Image dark.png');
    background-size: contain;
    background-repeat: no-repeat;
    margin: 2% 10%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 80%;
    height: 620px;
    position: relative;
    color: white;
}
.header h1{
    text-align: center;
    font-size: 4rem;
    margin: 0;
}
.header h2{
    font-size: 2rem;
    font-weight: 400;
    margin-top: -5%;
    margin-bottom: 2%;
}

.discount{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.off{
    font-size: 5rem;
    color: #ff0000;
    margin: 0;
}
.discount p{
    color: #ff0000;
    font-size: 1.2rem;
}
.discount img{
    height: 50%;
    width: 50%;
}

.CATEGORIES{
    font-size: 2.5rem;
    margin-top: 0;
    margin-bottom: 2%;
}

.party{
    background-image: url('images/Vectorrr.png');
    background-size: contain;
    background-repeat: no-repeat;
    margin: 2% 10%;
    width: 80%;
    height: 620px;
    position: relative;
    color: white;
}
.party-content{
    width: 50%;
    padding-top: 10%;
    padding-left: 10%;
}

.party-content h1{
    font-size: 4rem;
    margin: 0;
}
.party-btn{
    background-color: transparent;
    color: white;
    font-size: 1.2rem;
    border: none;
    margin-top: 2%;
    font-weight: 600;
}

.party-btn:hover{
    background-color: white;
    color: black;
}

.party-time{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: rgba(255,0,0,0.1);
    height: 400px;
    margin: 0 10%;
    border-radius: 20px;
}
.time-title{
    color:red;
}
.party-time h1{
    margin: .7%;
    font-size: 1.8rem;
}

.time-btn{
    margin-top: 2%;
    background-color: #ff0000;
    padding: 15px 25px;
    font-size: 1.3rem;
    font-weight: bold;
    color: white;
    border: none;
    border-radius: 10px;
}
.time-btn:hover{
    transform: translate(-10px,-10px);
    box-shadow: 10px 10px 5px black;
}

.offer-news{
    display: flex;
    margin: 5% 10%;
}
.news{
    margin-top: 10%;
}
.news h3{
    color: #ff0000;
    font-weight: 550;
    font-size: 1.2rem;
    margin: 0;
}
.news h1{
    font-size: 2.5rem;
    margin: .8%;
}
.celebrate-img{
    margin: 0 50px;
    border: 10px solid red;
    padding: 2%;
    border-radius: 50%;
    height: 50%;
    width: 50%;
}
.wish{
    margin-top: 10%;
}
.wish h1{
    font-size: 2.5rem;
    color: #ff0000;
    margin: 0;
}

.wish img{
    margin-top: 5%;
}

.portfolio{
    margin: 2% 10%;
}
.portfolio  h3{
    color: #ff0000;
    font-weight: bold;
    margin: .8%;
}

.portfolio h1{
    font-size: 2.5rem;
    margin: 0;
}
.products{
    width: 100%;
}


.products img{
    width: 24.5vw;
    height: 55vh;
    margin: 10px;
}

.contact{
    background-color: rgba(255,0,0,0.05);
    margin: 2% 10%;
    border-radius: 20px;
    height: 400px;
    text-align: center;
    padding-top: 10%;
}

.contact h1{
    font-size: 2.5rem;
    margin: .8%;
}

.email-field{
    width: 30%;
    height: 40px;
    padding-left: 30px;
    border: none;
    border-radius: 20px 0px 0px 20px;
    margin: 0;
}

.submit-btn{
    background-color: #ff0000;
    color: white;
    width: 12%;
    height: 40px;
    padding-left: 10px;
    border: none;
    border-radius: 0px 20px 20px 0px;
    margin: -4px;
}

.submit-btn:hover{
    background-color: #001eff;
}

